$primary: #00b97a;
$font-family-base: 'Work Sans';
$hr-border-color: $primary;
$hr-border-width: 4px;
$card-border-width: 0;
$card-border-radius: 0;

@import 'bootstrap/scss/bootstrap.scss';

html, body {
  height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card {
  max-width: 720px;
}

.display-2 {
  font-size: 2.8rem;
  letter-spacing: -4px;
  line-height: .9;
}

.lead {
  font-size: .9rem;
}

.base-transition-all {
  transition: all .25s ease-in-out;
}

hr {
  width: 0;
  animation: w-100 1s ease-in 1.5s 1 forwards;
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s ease-in 1.5s 1 forwards;
}

svg.user {
  width: 100px;

  path.icon {
    animation: fill 1s ease-in 1.2s 1 forwards;
  }

  path.user {
    stroke-width: 10;
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: draw 2s ease-in-out .2s 1 forwards;
  }
}

.typewriter {
  visibility: hidden;
  width: 0;
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;

  &.luke {
    animation: typing .4s steps(4, end) forwards, blink-caret .5s linear 1 forwards;
  }

  &.thompson {
    animation: typing .8s steps(8, end) .5s forwards, blink-caret .5s linear 3 forwards;
  }
}

@media (min-width: 576px) {
  .display-2 {
    font-size: 5.5rem;
    letter-spacing: -6px;
  }

  svg.user {
    width: 200px;
  }

  .lead {
    font-size: 1.25rem
  }
}

@keyframes blink-caret {
  from { border-color: #ff9700; }
  to { border-color: transparent; }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fill {
  to {
    fill: $primary;
  }
}

@keyframes w-100 {
  to {
    width: 100%;
  }
}

@keyframes typing {
  from { visibility: visible; width: 0; }
  to { visibility: visible; width: 100% }
}

