$primary: #00b97a;
$font-family-base: 'Work Sans';
$hr-border-color: $primary;
$hr-border-width: 4px;
$card-border-width: 0;
$card-border-radius: 0;

@import 'bootstrap/scss/bootstrap.scss';

html, body {
  height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card {
  max-width: 720px;
}

.icon {
  width: 100px;
}

.display-2 {
  font-size: 2.8rem;
  letter-spacing: -4px;
  line-height: .9;
}

.lead {
  font-size: .9rem;
}

.base-transition-all {
  transition: all .25s ease-in-out;
}

hr {
  width: 0;
  animation-name: w-100;
  animation-delay: 1.2s;
  animation-duration: 1.2s;
  animation-fill-mode: forwards; // Stay on the last frame
  animation-iteration-count: 1; // Run only once
  animation-timing-function: ease-in;
}

@media (min-width: 576px) {
  .display-2 {
    font-size: 5.5rem;
    letter-spacing: -6px;
  }

  .icon {
    width: 200px;
  }

  .lead {
    font-size: 1.25rem
  }
}

.fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 1.2s;
  animation-duration: 1.2s;
  animation-fill-mode: forwards; // Stay on the last frame
  animation-iteration-count: 1; // Run only once
  animation-timing-function: ease-in;
}

svg {
  .icon {
    animation-name: fill;
    animation-delay: 1.2s;
    animation-duration: 1.2s;
    animation-fill-mode: forwards; // Stay on the last frame
    animation-iteration-count: 1; // Run only once
    animation-timing-function: ease-in;
  }

  .user {
    stroke-width: 10;
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation-name: draw;
    animation-duration: 2s;
    animation-fill-mode: forwards; // Stay on the last frame
    animation-iteration-count: 1; // Run only once
    animation-timing-function: ease-in-out;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fill {
  to {
    fill: $primary;
  }
}

@keyframes w-100 {
  to {
    width: 100%;
  }
}
