$font-family-base: 'Work Sans';
$hr-border-width: 4px;
$primary: #00b97a;

@import 'bootstrap/scss/bootstrap.scss';

html, body {
  height: 100%;
}

body {
  border-top: $hr-border-width solid $primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 100px;
}

.display-2 {
  font-size: 2.8rem;
  letter-spacing: -4px;
  line-height: .9;
}

.lead {
  font-size: .9rem;
}

.base-transition-all {
  transition: all .25s ease-in-out;
}

@media (min-width: 576px) {
  .display-2 {
    font-size: 5.5rem;
    letter-spacing: -6px;
  }

  .icon {
    width: 200px;
  }

  .lead {
    font-size: 1.25rem
  }
}
